body {
    margin: 0;
    padding: 0;
    background-color: rgb(12, 17, 29);
}

img {
    float: right;
    margin-top: 40px;
    width: 80px;
    height: 80px;
}

.insta {
    margin-right: 0px;
    margin-top: 40px;
    width: 80px;
    height: 80px;
}

.youtube {
    margin-right: 0px;
    margin-top: 20px;
    width: 120px;
    height: 120px;
}

.git {
    margin-right: -5px;
    margin-top: 30px;
    width: 100px;
    height: 100px;
}

header span {
    position: absolute;
    top: 2.5%; 
    left: 50%;
    transform: translate(-50%, -50%); 
    text-align: center; 
    color: rgb(235, 181, 154);
    font-family: 'Courgette', cursive;
    font-size: 25px;
}


ul {
    list-style-type: none;
    top: 35px;
    padding: 3.4px;
    width: 100px; 
    background-color: rgb(12, 17, 29);
    position: fixed; 
    height: 6%; 
    overflow: auto; 
}

ul li a {
    list-style-type: none;
    display: block;
    color: rgb(215, 215, 215);
    padding: 8px 16px;
    text-decoration: none;
}
  
ul li a:hover {
    background-color: rgb(179, 171, 234);
}

span {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 90px;
    font-family: 'Playfair Display SC', serif;
    color: rgb(179, 171, 234);
}

#social-links {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-size: 35px;
  }
  
  
  @media (max-width: 700px) {
    #social-links {
      display: block;
      margin: 0 auto;
    }
  }
  a {
    color: rgb(179, 171, 234); 
    text-decoration: underline;
  }
  
  
  
  